*{
    box-sizing: border-box;
}
body{
   margin: 0px; 
}
#topmargin{
    position: relative;
   height: 115px;
   width: 100%;
   background-color: black;
   margin: 0px;
   padding: 0px; 
}
#adsites{
    position: relative;
    z-index: -1;
  height: 30px;
  background-color: #0282f9;
  width: 100%; 
  text-align: end;  
  margin: 0px;
  padding: 0px;
}
#adsites a{
   margin-right: 200px;  
   text-decoration: none;
   color: white;
   font-weight: 100;
   font-size: 70%;
   font-family: 'Greta Sans Regular', Arial, sans-serif;

}

#header ul li a{
    font-family: 'Greta Sans Regular', Arial, sans-serif;
    color:#2e2e2e;
    text-decoration: none;
   font-weight: bold;
} 
#header {
    position: relative;
    background-color:white;
    display: flex;
    padding:10px;
    justify-content: center;
}
#header ul {
    display: flex;
    margin: 0px;
    padding-left: 80px;
    list-style: none;
}
#header ul li {
padding-left: 15px;
padding-right: 15px;
padding-top: 30px;
padding-bottom: 20px;
text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
#comics{
    margin-top: 24px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
}
#horizontalline{
   padding: 0px;
   margin: 0px;
   color: #861e1e;
 }
 #firstlook img{
     height: 391px;
}
#doomsday img{
    height: 193px;
}
#DCsale img{
    width: 402px;
}
#comics .column_1{
    display: block;
    width: 70%;    
}
#comics .column_2{
display: block;
width: 30%;    
}



#feature_image{
    display: flex;
    justify-content: center;

}
#feature_image2{
    display: flex;
    justify-content: center;

}
#feature_image .column_1{
    display: block;
width: 30%; 

}
#feature_image .column_2{
    display: block;
    width: 70%; 
}
#feature_image2 .column_1{
    display: block;
width: 60%; 

}
#feature_image2 .column_2{
    display: block;
    width: 40%; 
}
#feature{
    margin-top: 24px;
    margin-left: 200px;
}
#feature .heading{
 color: #0282f9;
 font-size:65px;
 font-weight:bolder;
 font-family: 'Roboto', sans-serif;
  
}

#feature_desc .column_1{
    display: block;
width: 30%; 

}
#feature_desc2 .column_1{
    display: block;
width: 60%; 

}
#feature_desc{
    display: flex;
    font-weight: 900;
}
#feature_desc2{
    display: flex;
    font-weight: 900;
}
#feature_desc .column_2{
    display: block;
    width: 70%; 
}
#feature_desc2 .column_2{
    display: block;
    width: 40%; 
}
#whoswho{
    display: flex;
    margin-top:40px;
   margin-left: 40px; 
}
#whosdes{
    display: flex;
    margin-left: 40px; 
}
#whosdes h2{
    display: block;
    width: 12%; 
} 
#whoh .w1{
    line-height: .6em;
    text-transform: uppercase;
    font-family: Greta Sans Condensed Bold,Greta Sans Bold,Arial,sans-serif;
    font-size: 105px;
    color: #0282f9; 
    margin-left: 40px; 

}
#whoh .w2{
    line-height: .3em;
    text-transform: uppercase;
    font-family: Greta Sans Condensed Bold,Greta Sans Bold,Arial,sans-serif;
    font-size: 60px;
    color: #0282f9;
    margin-top: 30px;
    margin-left: 40px; 
}
#banner{
    position: relative;
}
#banner img{
    padding-top: 200px;
    width: 100%;
}
#banner .main img{
    position: absolute;
    bottom: 25%;
    left:30%;
    width: 70%;
}
#banner .main .mainhead a{
    text-decoration: none;
    color: #0282f9;
    size:200px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    position: absolute;
    bottom: 19%;
    left: 50%;
}
#banner .main .desc{
    position: absolute;
    bottom: 12%;
    left: 50%;
    width: 45%;
    /* background-color: #000; */
    color: white;
}
#banner .bg{
    position: absolute;
    top:200px;
    width: 100%;
    height:891px;
    background-color:#1c1c1c;
    opacity: .95;
}

#fontawe{
  position: relative;
  background: #2e2e2e;
  padding: 40px;  
  margin: 0px;
}
#fontawe .signup{
    position: absolute;
    width: 20%;
    left: 15%;
    bottom: 1%;
    
}
#fontawe .signup a{
    text-align: center;
    color: white;
    text-decoration: none;
    border-color: #0282f9;
}
#fontawe .followus h3{
    text-align: center;
    color:#0282f9;
    text-decoration: none;
    border-color: #0282f9;
}
#fontawe .followus{
    position: absolute;
    width: 20%;
    left: 65%;
    bottom: 1%;
    
}
.follow ul{
    width: 20%;
    left: 65%;
    bottom: 1%;
    display: inline-block;
    position: absolute;
    left: 77%;
    
}
.item {
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background-color: lightblue;
    padding: 0px;
    text-align: center;
    padding: 6px 0px 0px;
}
.icong{
    color: #2e2e2e;
}
#allabout{
    position: relative;
    background: #1c1c1c;
    border: 0px;
    margin-top: 200px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 400px;
    width: 100%;

}
.alla{
    padding: 1px;
    margin: 0px;
    text-decoration: none;
    display: block;
}

#allabout .column_1 h2{
    position: absolute;
    color: white;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    left: 50px;
    top: 25px;
}
#allabout .column_1 ul{
    position: absolute;
    padding: 1px;
    color:#959595;
    top: 50px;
    left: 50px;
}
#allabout .column_2 h2{
    position: absolute;
    color: white;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    left: 220px;
    top: 25px;
}
#allabout .column_2 ul{
    position: absolute;
    padding: 1px;
    color:#959595;
    top: 50px;
    left: 220px;
}

#allabout .column_3 h2{
    position: absolute;
    color: white;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    left: 520px;
    top: 25px;
}
#allabout .column_3 ul{
    position: absolute;
    padding: 1px;
    color:#959595;
    top: 50px;
    left: 520px;
}
#allabout .column_4{
    position: absolute;
    left: 850px;
    transform: rotateZ(-45deg);
}
#allabout .column_4 img{
    opacity: .7;
    height: 450px;
}









